@import './variables.css';
@import './reset.css';

body {
  font-family: var(--font-sans);
  background: var(--gray-50);
  color: var(--gray-800);
  min-height: 100vh;
  margin-left: var(--sidebar-width);
  text-rendering: optimizeLegibility;
}