@import './variables.css';
@import './reset.css';

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--gray-100);
  color: var(--gray-800);
  min-height: 100vh;
  margin-left: var(--sidebar-width);
}


